<div class="row">
  <div class="row"></div>
  <div class="row card-deck">
    <!-- Write ngfor to loop over all uploaded files here-->
    <div
      class="card shadow mb-5 bg-white align-self-center"
      style="width: 18rem; border-radius: 5px;"
      *ngFor="let game of gameList | async"
    >
      <img
        src="{{ game.ImagePath }}"
        class="card-img-top"
        alt="{{ game.title }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ game.title }}</h3>
        <p class="card-text">
          {{ game.description }}
          {{ game.ImagePath }}
        </p>
        <div>
          <a class="btn btn-primary col-md-5 mr-3" aria-disabled="true"
            >Released
          </a>
          <a routerLink="/video-games/edit" class="btn btn-primary col-md-5"
            >Edit Game
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
