<div class="row">
  <div class="col"></div>
  <div class="card shadow mb-5 bg-white align-self-center">
    <h2 id="cardHeader" class="card-header text-white text-center bg-primary">
      Video Game Login
    </h2>
    <div class="card-body">
      <div class="form-group d-flex flex-row">
        <button type="button" class="btn" (click)="userSignIn()">
          <fa-icon
            [icon]="faGoogle"
            size="3x"
            [classes]="['fa-google-hover']"
          ></fa-icon>
        </button>
        <p class="text-wrap pl-3" id="btn-p">
          Click here to either sign-in or sign-up with your google account.
        </p>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
