button {
  background-color: #e05449;
}

fa-google-hover:hover i.fa {
  color: white;
}

#btn-p {
  font-weight: 800;
}

button:hover {
  color: whitesmoke;
}

div.card {
  border-radius: 15px;
  padding-top: 0;
}

#cardHeader {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
}
